body{
    width: 960px;
    height: auto;
    margin: 0 auto;
    background-color: rgb(123, 186, 31);
    font-family: 'Roboto Slab', serif;
}

header h1{
    margin-right: 300px;
    display: inline;
}

header{
    margin-top: 30px;
}

#user_item table, #user_item th, #user_item td {
    border: 1px solid black;
}

#user_item table{
    width: 100%;
}

#user_item table th td{
    font-weight: bold;
}

#all_lists table, #all_lists th, #all_lists td {
    border: 1px solid black;
}

#all_lists table{
    width: 100%;
}

#all_lists table th td{
    font-weight: bold;
}

#user_item {
    margin-top: 60px;
}
#all_lists{
    margin-top: 150px;
}
